form{
    border: 1px solid black;
    width: 500px;
    margin-left: 30%;
    background-color: aqua;
}
#A,#B,#C,#D,#E,#F,#G,#I,#H{
    width: 60%;
    margin-left: 2%;

}
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j{
    margin-left: 2%;
}
#X{
   text-align: center;
}
body{
    background-image: url(OIP.jpeg);
    background-size: cover;
}
#one{
    margin-left: 90%;
}